 * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
 
      .item {
        width:  280px;
        margin: 5px;
        float: left;
      }

.masonrycontainer > .item { margin-top:10px; margin-bottom: 10px; }      

/* center container with CSS */
body > div.fit-width.masonrycontainer { margin: auto; margin-top: 50px; }

/*<---------customMainPage.css--------->*/

body { background-color: #EBEBEB; }
li { list-style: none; }
a { color: #525252; }

/*------------NAV--------------*/

.navbar-brand {
	font-size: 56px;
	font-weight: lighter;
}

.pin_owner_comment p  { margin: 8px; }

li.dropdown { text-align: right; }

body > div > div{ padding: 20px 10px; }

.navbar-default {
	background-color:#fff;
}

.img-size {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #e7e7e7;
	margin-top: -3px;
}

.container-accountsettings {
	padding-left: 140px;
	margin: 8% auto;
}

.main-img {
	width: 100%;
	border: 2px solid #dbdbdb;
}

.container-fluid {
	margin: auto 0;
}

.container { margin-top: 50px; }


/*--------------GROUPED CSS PIN INFO--------------*/

.pin_text_container, .pin_text_box, .pin_link, .pin_owner, .pin-user-comment, .pin-user-commentbox-add {
	width: 260px;
	background-color: #efefef;
	border: 1px solid #dbdbdb;
}

.pin_text_box, .pin_link, .pin_owner, .user_name, .pin_owner_comment, .pin-user-comment, .pin-user-commentbox-add, .comment_add { 
	padding: 5px;
}
.pin_link, .pin_owner, .pin_owner_comment,
.owner_board, .user_name, .user_comment, .pin-user-comment, .pin-user-commentbox-add a {
	text-align: left;
}

.pin_link, .pin_owner,.pin_owner_comment, 
.owner_board, .user_name, .user_comment, .pin-user-comment {
	width: 260px;
	min-height: 50px;
	background-color: #fff;
	border: 1px solid #dbdbdb;
}

.pin-user-commentbox-add { 
	min-height: 122px; 
	background-color: #fff;
	border: 1px solid #dbdbdb;
	width: 260px;
}

.pin-user-commentbox-add img { padding-top: 5px}
.pin_owner img, .user_name img, .pin-user-comment img, .pin-user-commentbox-add img, .comment_add {
 	width: 30px;
 	margin: 5px ;
 	position: absolute;
 }

div .pin_owner ul, div .user_name ul, .pin-user-comment ul {
	list-style: none;
	text-decoration: none;
	display: block;
	position: relative;
	margin-left: 20px;
	margin-top: -15px;
}

body > div > div.container > div > div > div.pin-user-commentbox-add > button { margin-top: 10px; margin-right: 27px; }
.pin_owner li:first-child, .user_name li:first-child, .pin-user-comment li:first-child { font-weight: bold; }

div textarea.comment_add { 
	margin: 5px 15px 5px 41px;
	width: 80%;
	height: 55px;
}

.thumbnail-img { 
	width: 260px;
	height: auto;
	border: 2px solid #dbdbdb;
}

/*---------JUMBOTRON--------*/

.lead, h1 {text-align: center;}
.jumbotron { background-color: #fff; margin-top: 200px;}

/*---------COLUMNS--------*/

.cols { margin-top: 15px; margin-bottom: 15px;}

.pin_link, .pin_owner, .pin_owner_comment,
.owner_board, .user_name, .user_comment, .pin-user-comment, .pin-user-commentbox-add a {
	text-align: left;
}

.pin_link, .pin_owner,.pin_owner_comment, 
.owner_board, .user_name, .user_comment, .pin-user-comment {
	width: 260px;
	min-height: 50px;
	background-color: #fff;
	border: 1px solid #dbdbdb;
}

.pin-user-commentbox-add { 
	min-height: 125px; 
	background-color: #fff;
	border: 1px solid #dbdbdb;
	width: 260px;
}

.pin-user-commentbox-add textarea { 
	border-radius: 5px; 
	border-color: #ccc; 
	margin-top: 10px;
	width: 100%;
}

.pin-user-commentbox-add img { padding-top: 5px}

body > div > div.container > div > div.pin-user-commentbox-add > form > button { margin-top: 10px; margin-right: 27px;}
.pin_owner img, .user_name img, .pin-user-comment img, .pin-user-commentbox-add img, .comment_add {
 	width: 30px;
 	margin: 5px ;
 	position: absolute;
 }

div .pin_owner ul, div .user_name ul, .pin-user-comment ul {
	list-style: none;
	text-decoration: none;
	display: block;
	position: relative;
	margin-left: 20px;
	margin-top: 1px;
}
.searchcontainer { margin-top: 150px; }
.container-login { margin: 10% 20%; width: 100%; }
.alert-info { margin: 0 10%; width: 20%; float: right; text-align: center;}
.pin-user-comment > ul > li > p { margin-left: -1px; }
.margin-nav { margin-top: 150px; }

/*-----------------ACCOUNT SETTINGS-------------*/

form { width: 100%; margin: 0 auto;}

.accountH3 { 
	margin-left: -9%; 
	color: #696969; 
	margin-bottom: 40px; 
	text-align: left;
}

.profileH3 { 
	margin-left: 4.5%; 
	color: #696969; 
	margin-bottom: 40px; 
	text-align: left;
}

/*----------------SINGLE PIN VIEW-----------------*/
.singlepincontainer { width: 50%; }
body > div.container-fluid > div > div > div > div > button, 
body > div.container-fluid > div > div > div > div > button { 
	margin-left: 10px; margin-right: 10px; }
.singlepinnavbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 0;
	border: 1px solid transparent; 
}

.pin_owner_comment_lg, .pin_owner_lg, .pin-user-comment_lg, .pin-user-commentbox-add_lg, .comment_add_modal_lg, .comment_add_submit-lg, .comment_add_modal_lg  {
	width: 100%;
	background-color: #efefef;
	border: 1px solid #dbdbdb;
}

.pin_text_box_lg, .pin_link_lg, .pin_owner_lg, .user_name_lg, .pin_owner_comment_lg, .pin-user-comment_lg, .pin-user-commentbox-add_lg, .comment_add_lg { 
	padding: 10px;
}

.pin_link_lg, .pin_owner_lg, .pin_owner_comment_lg,
.owner_board_lg, .user_name_lg, .user_comment_lg, .pin-user-comment_lg, .pin-user-commentbox-add_lg a {
	text-align: left;
}

 div .pin_owner_lg li, div .pin-user-comment_lg li, div .pin-user-commentbox-add_lg li  { margin: 8px 0 4px 45px; }

 .pin_owner_lg li:first-child , .pin_owner_comment_lg li:first-child ,
.owner_board_lg li:first-child , .user_name_lg li:first-child , .user_comment_lg li:first-child , .pin-user-comment_lg li:first-child , .pin-user-commentbox-add_lg li:first-child { font-weight: bold; }

.pin-user-commentbox-add_lg img { padding-top: 10px}
.pin_owner_comment_lg { font-size: 16px; }
div.pin_owner_comment_lg p { margin: 10px 2px; }
.pin-user-commentbox-add_lg textarea { 
	border-radius: 5px; 
	border-color: #ccc; 
	width: 100%;
}

.pin-user-commentbox-add_lg { 
	min-height: 111px; 
	background-color: #fff;
	border: 1px solid #dbdbdb;
	width: 100%;
}

.pin_owner_lg img, .user_name_lg img, .pin-user-comment_lg img, .pin-user-commentbox-add_lg img, .comment_add_lg {
 	width: 50px;
 	margin: 3px;
 	position: absolute;
 }

/*----------------BUTTONS-----------------*/
.formbuttons { width: 40%; display: inline-block; margin: 5px; }

.pin-btns { 
	width: 260px;
	padding: 5px;
	margin-bottom: 0;
	background-color: #fff;
	border: 2px solid #dbdbdb;
	border-bottom: none;
}

.pin-btns-style { 
	display:inline-block; 
	margin-left: 20px;
}
.country {
	width: 65.5%;
	margin-left: 17.5%;
	margin-bottom: 3%;
}

.btn-save { 
	float: right; 
	margin-right: 25.7%; 
	margin-bottom: 5%;
}

div > .thumbnail { width: 72%; }
.catalogueh4 { text-align: center; }
.cat-btn { text-align: center; }
body > form > div > div.btn.btn-block.right.cf { margin-right: 3%; }
.right { float:right; }
.margin { margin-right: 25%; }
.dropdown-toggle a { text-decoration: none;}
.btn-default { color: #696969; }
label {color: #696969;}
.gendergroup { margin-left: 4px; margin-bottom: 5%; }
.femalegroup { padding-left: 38px; }
.action-btn { margin-left: -7.9%; }
.action-btn-1 { margin-left: -7.2%; }
.action-btn-2 { margin-left: -9.1%; }
.action-btn-3 { margin-left: -9.7%; }
/*-----------------CLEARFIX---------------*/

@media (max-width: 767px ) {
	
.responsivesearch {
	display: inline-block;
	width: 50%;
	}
}

